
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before{
    box-sizing:border-box;
}
*::after{
    box-sizing:border-box;
}
body{
    display:flex;
    flex-direction:column;
    height:100vh;
}
#code{
    
    height: 100%;
}
.code-wrapper{
    flex:1;
    height:50%;
    overflow: hidden;
}
.preview-wrapper{
    flex:1;
    height:50%;
}
.actions{
    position: absolute;
    right:15px;
    top:15px;
    display:flex;
    flex-direction:column; 
}
.actions>button{
    border:none;
    background:#fee433;
   color:white;
    padding: 8px 26px;
    margin-bottom: 12px;
    font-size:15px

}
.actions>button:focus{
    outline:none;
}
.actions>button.active{
    color:red;
    
}